*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    background-color:khaki;
    font-weight: bold;
    font-style: italic;
}
dl{
    background-color: khaki;
}
dt{
    font-weight: bold;
    font
}
